Bottleneck==1.2.1
checkbox-support==0.22
command-not-found==0.3
CommonMark==0.7.5
feedparser==5.1.3
h5py==2.8.0
imageio==2.5.0
ipython==2.4.1
Keras==2.2.4
Keras-Applications==1.0.6
keras-contrib==2.0.8
Keras-Preprocessing==1.0.5
keyring==12.0.1
keyrings.alt==3.0
lxml==3.5.0
matplotlib==1.5.1
mne==1.2.3
numpy==1.15.4
Orange3==3.13.0
pandas==0.23.0
pep8==1.7.0
pexpect==4.0.1
Pillow==3.1.2
protobuf==3.6.1
psutil==3.4.2
pycups==1.9.73
pycurl==7.43.0
pydot==1.2.3
pyflakes==1.1.0
Pygments==2.1
pygobject==3.20.0
pyparsing==2.2.0
python-apt==1.1.0b1+ubuntu0.16.4.2
python-dateutil==2.7.3
python-debian==0.1.27
python-systemd==231
pytz==2018.4
pyxdg==0.25
PyYAML==5.1
pyzmq==15.2.0
reportlab==3.3.0
requests==2.18.4
scikit-learn==0.19.1
scipy==1.4.0.dev0+1953c76
seaborn==0.8.1
SecretStorage==2.3.1
sklearn==0.0
spyder==2.3.8
ssh-import-id==5.5
system-service==0.3
tables==3.2.2
tensorboard==1.12.0
tensorflow-gpu==1.12.0
termcolor==1.1.0
tslearn==0.1.28.1
ubuntu-drivers-common==0.0.0
virtualenv==15.0.1
Werkzeug==0.15.3
xdiagnose==3.8.4.1
xkit==0.0.0
